@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url('./fonts/Rubik-Regular.ttf');
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 'bold';
    src: url('./fonts/Rubik-Medium.ttf');
    src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 'bolder';
    src: url('./fonts/Rubik-SemiBold.ttf');
    src: url('./fonts/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 'lighter';
    src: url('./fonts/Rubik-Light.ttf');
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
}