#game {
    display: block;
    padding: 20px;

    @media screen and (max-width: 480px) {
        display: none;
    }
}

.game-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    button {
        width: 100%;
    }
}