// Styles
@import 'align';
@import 'colors';
@import 'fonts';
@import 'margins';

// Components
@import 'buttons';
@import 'inputs';
@import 'game';
@import 'mobile-toggle';
@import 'players';

body {
    background-color: $light-slate-grey;
    color: $dark-slate-grey;
    font-family: 'Rubik', sans-serif, monospace;
}

.visible-mobile {
    @media screen and (max-width: 480px) {
        display: block !important;
    }
}

#game-container {
    display: flex;
    justify-content: space-between;
}