@import 'fonts';

body {
    font-family: 'Rubik', sans-serif, monospace;
}

.game-container {
    display: flex;
}

.players-list {
    margin-left: auto;
    text-align: center;
    width: 200px;

    h3 {
        margin: 5px auto;
    }

    ul {
        border: 1px solid black;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 5px 20px;
        }
    }
}